$ui-width: 320px;
@function px2rem($px) {
    @return $px/$ui-width*3.2rem;
}
*{
	margin:0px;
	padding:0px;
}



html,body{
	width:100%;
	height:100%;
	background:#f4f4f3;
}

li{
	list-style:none;
}
#header{
	display:none;
}
#nav{
	background:#fff;
	position:absolute;
	top:px2rem(90px);
	width:100%;
	height:px2rem(80px);
	ul{
		width:100%;
		height:100%;
		li{
			float:left;
			width:25%;
			height:px2rem(80px);
			line-height:px2rem(80px);
			text-align:center;
			margin:0;
			color:#666;
			position:relative;
			.iconfont{
				position:absolute;
				top:px2rem(5px);
				right:0;
				font-size:12px;
				padding-right:px2rem(20px);
			}
			.i1{
				right:px2rem(-25px);
			}
			.i2{
				right:px2rem(5px);
			}
			.i3{
				right:px2rem(-25px);
			}
			.i4{
				right:px2rem(5px);
			}
		}
	}
}

#one{
	position:absolute;
	top:px2rem(170px);
	width:100%;
	height:px2rem(212px);
	margin-bottom:px2rem(40px);
	background:#fff;
	.cont{
		width:100%;
		margin:px2rem(16px) px2rem(32px);
		height:px2rem(128px);
		position:relative;
		img{
			width:px2rem(128px);
		}
		.text{
			height:px2rem(128px);
			position:absolute;
			top:0;
			left:px2rem(128px);
			h3{
				font-size: 16px;
			    line-height: 20px;
			    color: #333;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    white-space: nowrap;
			    font-weight:400;
			}
			img{
				width:px2rem(32px);
				margin-top:px2rem(12px);
			}
			ul{
				height:px2rem(32px);
				li{
					width:33.3%;
					height:px2rem(32px);
					line-height:px2rem(32px);
					float:left;
					float: left;
				    font-size: 12px;
				    color: #666;
				    margin:0;
				}
			}
		}
	}

	p{
		font-size: 11px;
	    line-height:px2rem(28px);
	    color: #999;
	    margin-top:px2rem(16px);
	    margin-left:px2rem(20px);
	    span{
	    	width: px2rem(78px);
		    height: px2rem(28px);
		    border: 1px solid #f83244;
		    border-radius: 2px;
		    font-size: 10px;
		    line-height: px2rem(24px);
		    text-align: center;
		    color: #f83244;
		    margin-right: px2rem(8px);
	    }
	}
	.tui{
		position: absolute;
	    right: 10px;
	    bottom: -17px;
	    width:  px2rem(64px);
	    height:  px2rem(32px);
	    border: 1px solid #d7d7d7;
	    border-width: 0 1px 1px 1px;
	    border-radius: 0 0  px2rem(4px)  px2rem(4px)x;
	    font-size: 10px;
	    line-height:  px2rem(30px);
	    text-align: center;
	    color: #aaa;
	    background: #f7f7f7;
	}
}

.line1{
	width:100%;
	height:0.1px;
	margin-top:px2rem(420px);
}

#next{
	border-bottom:1px solid #f4f4f3;
	width:100%;
	height:px2rem(212px);
	background:#fff;
	overflow:hidden;
	.cont{
		display: inline;
	    vertical-align: top;
	    height: px2rem(32px);
	    font-size: 9pt;
	    color: #666;
	    margin: px2rem(10px) 0 px2rem(20px);
		height:px2rem(128px);
		position:relative;
		img{
			width:px2rem(128px);
			margin:px2rem(20px)  px2rem(12px) 0;
		}
		.text{
			height:px2rem(128px);
			position:absolute;
			top:px2rem(10px);
			left:px2rem(152px);
			.fans{
				margin-top:px2rem(12px);
				height:px2rem(32px);
				li{
					width:33.3%;
					height:px2rem(32px);
					line-height:px2rem(32px);
					float:left;
					float: left;
				    font-size: 12px;
				    color: #666;
				    margin:0;
				    img{
				    	margin:0;
				    }
				}
			}
			h3{
				width:px2rem(400px);
				font-size: 16px;
			    line-height:px2rem(40px);
			    color: #333;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    white-space: nowrap;
			    font-weight:400;
			    img{
			    	width:px2rem(88px);
			    	margin-right:px2rem(10px);
			    	height:px2rem(32px);
			    }
			}
			img{
				width:px2rem(32px);
				margin-top:px2rem(12px);
			}
			.u1{
				margin-left:px2rem(12px);
				float:left;
				width:px2rem(200px);
				height:px2rem(32px);
				li{
					height:px2rem(32px);
					margin:0;
					float:left;
					width:20%;
					img{
						margin:0;
					}
				}
			}
			.star-fans{
				margin-top:px2rem(12px);
				width:px2rem(444px);
				height:px2rem(32px);
				.count{
					float:left;
				}
				.star{
					margin-right:px2rem(12px);
					float:left;
					li{
					width:px2rem(22px);
					height:px2rem(22px);
					float:left;
					margin:0;
					img{
						width:100%;
						margin:0;
						}
					}
				}
			}
			
		}
	}

	p{
		font-size: 11px;
	    line-height:px2rem(28px);
	    color: #999;
	    margin-top:px2rem(16px);
	    margin-left:px2rem(20px);
	    span{
	    	width: px2rem(78px);
		    height: px2rem(28px);
		    border: 1px solid #f83244;
		    border-radius: 2px;
		    font-size: 10px;
		    line-height: px2rem(24px);
		    text-align: center;
		    color: #f83244;
		    margin-right: px2rem(8px);
	    }
	}
	
}
