$ui-width: 320px;
@function px2rem($px) {
    @return $px/$ui-width*3.2rem;
}
*{
	margin:0px;
	padding:0px;
}



html,body{
	width:100%;
	height:100%;
}

li{
	list-style:none;
}



#header{
	float:left;
	width:px2rem(640px);
	height:px2rem(90px);
	font-size:16px;


input{
	width:px2rem(380px);
	height:px2rem(40px);
	float:left;
	border-radius:px2rem(20px);

}
span{
	width:px2rem(75px);
	height:px2rem(40px);
	color:#FF705E;
	float:left;
}
}