$ui-width: 320px;
@function px2rem($px) {
    @return $px/$ui-width*3.2rem;
}
*{
	margin:0px;
	padding:0px;
}

html,body{
	width:100%;
	height:100%;
}

li{
	list-style:none;
}

.bgcolor{
	color:#FF705E;
	
}
#buse{
	float:left;
	
	height:px2rem(90px);
	li{
		line-height:px2rem(90px);
		border-bottom:5px solid #FF705E;
		float:left;
		width:px2rem(150px);
		font-size:16px;
		margin-left: px2rem(10px);
    text-align: center
	}

}