$ui-width: 320px;
@function px2rem($px) {
    @return $px/$ui-width*3.2rem;
}
*{
	margin:0px;
	padding:0px;
}

html,body{
	width:100%;
	height:100%;
}

li{
	list-style:none;
}
#log-header{
	width:100%;
	height:px2rem(88px);
	float:left;

	p{
		width:px2rem(560px);
		font-size: 18px;
	    text-align: center;
	    color: #ff705e; 
	    overflow: hidden;
	    float:left;	
	}

	
	a{
		img{
			width:px2rem(44px);
		height:px2rem(44px);
		float:left;
		
		}
			
	}
	span{
		img{
			width:px2rem(44px);
		height:px2rem(44px);
		float:left;
		position: absolute;
    	right: px2rem(20px);
		}
			
	}
}

#log_input{
	input{
		width:px2rem(580px);
		height:px2rem(80px);
		border-radius:px2rem(40px);	
		margin-left:px2rem(34px);
		border:1px solid #111;
		text-align:center;
	}
	.one{
	width: 7px;
    height: 16px;
    position: absolute;
    left: px2rem(64px);
    top:px2rem(190px);
    	i{
    		font-size:30px;
    		color:red;
    	}
	}
	#zifu-yz{
		width:px2rem(120px);
		height:px2rem(60px);
		border:2px solid #111;
	}
	input:nth-of-type(1){

	}
	button{
		margin-top:px2rem(58px);
		width:px2rem(580px);
		height:px2rem(80px);
		border-radius:px2rem(40px);	
		margin-left:px2rem(34px);
		margin-top:px2rem(50px);
		background:red;
		color:#fff;
	}
	
}